body {
    background: #efefef;
}

header {
    border-bottom: solid #cccccc;
    background: #ffffff;
    margin: 0 auto;
    height: 75px;
    margin: -10px;
    padding: 10px;
}

#head {
    margin: 0 auto;
    width: 960px;
}

ul {
    list-style-type: none;
    margin-right: -20px;
}

#name {
    margin: -40px;
    background: teal;
    text-align: center;
    font-size: 32px;
    color: white;
    padding: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a {
    float: right;
    display: inline-block;
    color: #777777;
    text-align: center;
    margin: -10px 20px 20px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

#port {
    padding-right: 20px;
    border-right: solid #777777;
    border-width: 1px;
}

#contact {
    padding-right: 20px;
    border-right: solid #777777;
    border-width: 1px;
}

#main {
    background: #ffffff;
    border: #dddddd;
    width: 960px;
    margin: 0 auto;
}

h1{
    color: teal;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #cccccc;
}

#portrait {
    width: 250px;
    border: solid black;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}

#bio {
    line-height: 2;
    font-family: 'Arial', 'Heletica Neue', Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: #777777;
}

#bio-3 {
    line-height: 2;
    font-family: 'Arial', 'Heletica Neue', Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    color: #777777;
}

footer {
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

footer p {
    color: white;
    text-align: center;
    font-size: :12px;
}

form {
    margin-left: 20px;
    margin-right: 10px;
    width: 960px;
}

.inpbox {
    width: 95.5%;
}

#subject {
    width: 95.5%;
    height: 200px;

}

